
.common_btn {

    width: 100px;
    height: 100px;
}


.common_btn:hover {

    background-color: white;
    opacity: 0.5;
    color: black;

}

.calc_table {

    border-collapse: collapse; 
    width: 100%;

}

.calc_table td {


    background-color: #534d4d;
    padding:0;
    margin: 0;
    

}

.calc_btn {


    background-color: #817f7d;
    font-size: 1.6em;
    border: none;
    color: rgb(255, 255, 255)
}


.calc_btn_zero {

    background-color: #817f7d;
    border: none;
    color: #fff;
    padding: 0;
    font-size: 1.6em;
    width: 100%;
    height: 100px;

}

.calc_display {

    background-color: #534d4d;
    color: white;
    height: 100px;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 3em;
    text-align: right;
    padding: 5px;
    font-weight: 0.5em
}

.calc_op_btn {


    background-color: #FC9A1A;
    font-size: 2em;
    border: none;
    color: rgb(255, 255, 255)
}

.calc_op_btn2 {


    background-color: #696363;
    font-size: 1.6em;
    border: none;
    color: rgb(255, 255, 255)
}



.table_container {
    width: 100%;
    background-color: red;
}

.main_table_container {

    background-color: blue;
    padding: 10px;
}

.info {
    text-align: center;
    background-color: #fff;
    color: black;
    font-size: 0.8em;
}


/* desktop only css */
@media only screen and (min-width: 768px) {


    .calc_table {
        width: 300px;
        margin: 20px;
        
    }

}